@model demo.Model.Employe_de

<h2></h2>
@using (Html.BeginForm("Delete_item", "home", FormMethod.Post, new { id = "popupForm" }))
{
    @Html.HiddenFor(a => a.ID)
    <div class="form-group">
        <label>First Name</label>
        <p>@Model.Name</p>
    </div>

    <div class="form-group">
        <label>Last Name</label>
        <p>@Model.Salary</p>
    </div>

    <div class="form-group">
        <label>Email</label>
        <p>@Model.EmployeID</p>
    </div>

    <div class="form-group">
        <label>City</label>
        <p>@Model.Grade</p>
    </div>

    <div>
        <input type="submit" value="Delete" />
    </div>
}