@model demo.Model.Employe_de
@{
    ViewBag.Title = "Update Employees";
}

@{
    Layout = null;
}
@using (Html.BeginForm("update_from", "Home", FormMethod.Post, new { id = "popupForm" }))
{
    <div class="container mt-4">
        <h1 class="display-4 text-center">
            Employee Details
        </h1>
        <form id="book-form">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(a => a.ID)
            <div class="form - group">
                <label for="EmployeeID">EmployeeID</label>
                @*@Html.TextBoxFor(x=>x.EmployeeID,new { @class= "form - group" })*@
                <input type="number" name="EmployeID" value="@Model.EmployeID" class="form-control" required />
                @Html.ValidationMessageFor(Model =>Model.EmployeID , "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" name="Name" value="@Model.Name" class="form-control" required />
                @Html.ValidationMessageFor(Model => Model.Name, "", new { @class = "text-danger" })
                @*@Html.TextBoxFor(x => x.Name, new { @class = "form - group" })*@

            </div>
            <div class="form-group">
                <label for="Salary">Salary</label>
                <input type="number" name="Salary" value="@Model.Salary" class="form-control" required />
                @*@Html.TextBoxFor(x => x.Salary, new { @class = "form - group" })*@
                @Html.ValidationMessageFor(Model => Model.Salary, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="Grade">Grade</label>
                <input type="text" name="Grade" value="@Model.Grade" class="form-control" required>
                @*@Html.TextBoxFor(x => x.Grade, new { @class = "form - group" })*@
                @Html.ValidationMessageFor(Model => Model.Grade, "", new { @class = "text-danger" })
            </div>
            <input type="submit" value="Add Employee" class="btn btn-primary btn-block">
        </form>
    </div>
}
